<!DOCTYPE html>
<html>
<head>
    <title>修改订单页面</title>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          rel="stylesheet" />
</head>
<body style="margin: 0;">
    <el-container id="app" style="height:800px; background-color: rgb(0, 183, 255);">
        <el-main>
            <el-row>
                <el-col :span="12" offset="6">
                    <el-card class="box-card" style="height: 450px;">
                        <el-form :model="product"
                                 label-width="auto"
                                 ref="form">
                            <el-row>
                                <el-col>
                                    <el-form-item label="订单编号">
                                        <el-input :disabled="true"
                                                  v-model="order.orderNumber">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item label="产品名称">
                                        <el-input :disabled="true"
                                                  v-model="order.productName">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item label="收货人">
                                        <el-input :disabled="true"
                                                  v-model="order.userName">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item label="联系电话">
                                        <el-input :disabled="true"
                                                  v-model="order.userphone">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item label="收货地址">
                                        <el-input :disabled="true"
                                                  v-model="order.useraddress">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item label="订单状态">
                                        <el-radio v-model="order.orderState" label="已下单">已下单</el-radio>
                                        <el-radio v-model="order.orderState" label="出餐中">出餐中</el-radio>
                                        <el-radio v-model="order.orderState" label="骑手已取餐">骑手已取餐</el-radio>
                                        <el-radio v-model="order.orderState" label="配送中">配送中</el-radio>
                                        <el-radio v-model="order.orderState" label="已送达">已送达</el-radio>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col style="text-align: center;">
                                    <el-form-item>
                                        <el-button type="primary"
                                                   v-on:click="onOKButtonClick">
                                            确认修改
                                        </el-button>
                                        <el-button v-on:click="onBackButtonClick">返回</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
    const app = new Vue({
        el: "#app",
        data: {
            order:{}
        },
        methods: {
            //返回后台首页
            onBackButtonClick() {
                window.location.href = "/Product/Index";
            },
            async onOKButtonClick() {
                let response = await axios.post('/Product/UpdateOrder', this.order);
                if (response.data.code === 'success') {
                    this.$message({
                        message: '记录修改成功',
                        type: 'success'
                    });

                    window.location.href = "/Product/OrderTable";
                } else {
                    this.$message({
                        message: '记录修改失败',
                        type: 'error'
                    });
                }
            }, 
            async getOrderById(id) {
                let response = await axios.get('/Product/getOrderById', { params: { id: id } });
                if (response.data.code === 'success') {
                    //绑定查找出来的数据
                    this.order = response.data.data;
                }
            },
            //用于界面的安全防止非管理员直接用URl
            async LoginAndAdmin() {

                //用于判断用户有没有登录并且时不时管理员
                let response = await axios.get('/User/LoginAndAdmin');
                if (response.data.code === 'success') {

                } else if (response.data.code === 'NoAdmin') {
                    this.$confirm('您不是管理员',
                        '提示',
                        {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        })
                        .then(async () => {
                            //返回用户前台
                            window.location.href = "/User/Index";
                            //await this.deleteProduct(id);
                        })
                        .catch(() => {
                            //返回用户前台
                            window.location.href = "/User/Index";
                        });
                }
                else {
                    this.$confirm('您还未登录',
                        '提示',
                        {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        })
                        .then(async () => {
                            //返回用户前台
                            window.location.href = "/User/Index";
                            //await this.deleteProduct(id);
                        })
                        .catch(() => {
                            //返回用户前台
                            window.location.href = "/User/Index";
                        });
                }
            }
        },
        mounted() {
          //  this.getOrderById(@ViewBag.id);
            //用于防止非法用户直接用URL
            this.LoginAndAdmin();
        }
    });
    </script>
</body>

</html>