<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          rel="stylesheet" />
</head>
<body style="margin: 0;">
    <el-container id="app" style="height: 700px; background-color: deepskyblue;">
        <el-main>
            <el-row>
                <el-col :span="12" offset="6">
                    <el-card class="box-card" style="height: 400px; ">
                        <el-form :model="user" label-width="auto">
                            <el-form-item style="text-align: center;">
                                <h2>登录</h2>
                            </el-form-item>
                            <el-form-item label="用户账号">
                                <el-input v-model="user.userName"
                                          placeholder="请输入用户名"></el-input>
                            </el-form-item>
                        </el-form>
                        <el-form :model="user" label-width="auto">
                            <el-form-item label="用户密码">
                                <el-input v-model="user.password"
                                          placeholder="请输入密码"
                                          :show-password=true></el-input>
                            </el-form-item>
                            <el-form-item style="text-align: center;">
                                <el-button type="primary"
                                           round
                                           icon="el-icon-upload">登录</el-button>
                                <el-button type="danger"
                                           round
                                           v-on:click="onRegisterButtonClick">注册</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        const app = new Vue({
            el: "#app",

            data: {
                // 用于绑定数据
                user: {
                    userName: '',
                    password: '',
                },
            },
            methods: {
                onRegisterButtonClick() {
                    window.location.href = "/User/Register";
                }
            },
            mounted() {
               // this.GetAllProducts(this.order);
            }
        });
    </script>
</body>

</html>
